<h1>Stupid Coaching</h1>
<div class="ask">
  <h1><%= @word %></h1>
  <h3><i>-You</i></h3>
</div>

<div class="answer">
  <h1><%= @answer %></h1>
  <h3><i>-Coach</i></h3>
</div>

<div class="press">
  <%= link_to  "Ask a new question", ask_path %>
</div>
